@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #fff;
  --foreground: #333;
  --font-geist-sans: 'Inter', sans-serif;
  --font-geist-mono: 'Courier', monospace;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
